* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.page {
    height: 40vh;
    width: 40vw;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
}

h1 {
    font-size: 35px;
}

form div {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    font-size: 18px;
    font-weight: bold;
    color: brown;
}

input {
    font-size: 17px;
    padding: 5px 20px;
    border: 1px solid gray;
    border-radius: 30px;
    margin: 5px 0;
}

button {
    padding: 12px 30px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: rgb(80, 241, 80);
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease-in;
}
button:hover {
    background-color: rgb(127, 247, 127);
}

.register-hyperlink {
    display: flex;
    align-items: end;
    margin-top: -10px;
}